<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/javascripts/functions.js"></script>
</head>
<title>
    Leon Zagorouiko - Web Dev
</title>
        <!-- Top -->
<div class="jumbotron vertical-center">
    <div class="header">
            <img src="../images/logo.png" style="display: block; margin: 0px auto;">
        <h1 class="headerText main display-3 text-xs-center">Leon Zagorouiko</h1>
        <p class="subHeaderText lead text-xs-center sub">Web/VR Developer</p>
    </div>
</div>
        <!-- End Top -->
        <!-- About -->
<div class="container p-t-2 p-b-3">
    <div class="row">
        <div class="col-md-12">
            <img src="../images/profile.jpg" class="profilePic m-x-auto d-block">
        </div>
    </div>
</div>
<div class="about">
    <div class="container p-b-3">
        <div class="row">
            <div class="col-sm-12 text-sm-center">
                <h2>Hello, World_</h2>
            </div>
        </div>
    </div>
    <div class="container p-b-3">
        <div class="row">
            <div class="col-sm-4 offset-md-4 text-sm-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id auctor ante. Cras lobortis mollis ullamcorper. Vivamus est ipsum, auctor nec erat a, rutrum pretium quam. Sed risus orci, tempor nec rhoncus id, dictum in ante. Nam sagittis arcu sit amet tristique eleifend. Ut sodales nunc ex, at luctus leo dignissim eget. Cras blandit leo sit amet orci ornare mattis non nec justo. Nulla elit dolor, viverra sed iaculis vitae, dapibus mollis velit. </p>
            </div>
        </div>
    </div>
</div>
        <!-- End About -->
        <!-- Projects -->
<div class="container-fluid content p-y-3">
    <div class="row">
        <div class="col-md-6 push-md-1">
            <img src="../images/vive.png" class="m-x-auto d-block">
        </div>
        <div class="col-md-6 pull-md-1">
            <img src="../images/developer.png" class="m-x-auto d-block">
        </div>
    </div>
</div>
<div class="container-fluid projectPane p-y-3">

    <!--<div class="row no-gutters">-->
        <!--<div class="col-md-1 push-md-2">-->
            <!--<img src="../images/placeholder.jpg" class="m-x-auto d-block projects">-->
        <!--</div>-->
        <!--<div class="col-md-1 push-md-3">-->
            <!--<img src="../images/placeholder.jpg" class="m-x-auto d-bloc projectsk">-->
        <!--</div>-->

        <!--<div class="row no-gutters">-->
            <!--<div class="col-md-1 push-md-4">-->
                <!--<img src="../images/placeholder.jpg" class="m-x-auto d-block projects">-->
            <!--</div>-->
            <!--<div class="col-md-1 push-md-5">-->
                <!--<img src="../images/placeholder.jpg" class="m-x-auto d-block projects">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="row no-gutters">-->
        <!--<div class="col-md-1 push-md-2">-->
            <!--<img src="../images/placeholder.jpg" class="m-x-auto d-block projects">-->
        <!--</div>-->
        <!--<div class="col-md-1 push-md-3">-->
            <!--<img src="../images/placeholder.jpg" class="m-x-auto d-bloc projectsk">-->
        <!--</div>-->

        <!--<div class="row no-gutters">-->
            <!--<div class="col-md-1 push-md-4">-->
                <!--<img src="../images/placeholder.jpg" class="m-x-auto d-block projects">-->
            <!--</div>-->
            <!--<div class="col-md-1 push-md-5">-->
                <!--<img src="../images/placeholder.jpg" class="m-x-auto d-block projects">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row no-gutters">-->
        <!--<div class="col-md-1 push-md-2">-->
            <!--<img src="../images/placeholder.jpg" class="m-x-auto d-block projects">-->
        <!--</div>-->
        <!--<div class="col-md-1 push-md-3">-->
            <!--<img src="../images/placeholder.jpg" class="m-x-auto d-bloc projectsk">-->
        <!--</div>-->

        <!--<div class="row no-gutters">-->
            <!--<div class="col-md-1 push-md-4">-->
                <!--<img src="../images/placeholder.jpg" class="m-x-auto d-block projects">-->
            <!--</div>-->
            <!--<div class="col-md-1 push-md-5">-->
                <!--<img src="../images/placeholder.jpg" class="m-x-auto d-block projects">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--TEST-->

    <div id="container"><!-- flex container -->

        <div class="box"><!-- flex item -->
            <img src="../images/lb1.jpg" class ='pic1' style=" background-size: 100% 100%;">
        </div>

        <div class="box pic2"><!-- flex item -->
            <img src="../images/lb2.jpg">
        </div>

        <div class="box pic3"><!-- flex item -->
            <img src="../images/lb3.jpg">
        </div>

        <div class="box pic4"><!-- flex item -->
            <img src="../images/lb4.jpg">
        </div>

        <div class="box pic5"><!-- flex item -->
            <img src="../images/lb5.jpg">
        </div>

        <div class="box pic6"><!-- flex item -->
            <img src="../images/lb6.jpg">
        </div>

    </div>

</div>
        <!-- End Projects -->
        <!-- Contact -->
<div class="container-fluid contact p-a-3">
    <div class="row">
        <div class="col-md-12 text-sm-center p-y-2">
            <h3>Lets Work Together...</h3>
        </div>
    </div>
    <div class="col-md-12 text-sm-center p-y-2">
        <button type="button" class="btn btn-secondary btn-lg btn-outline-primary p-x-3">Contact Me</button>
    </div>
</div>
        <!-- End Contact-->
        <!-- Footer -->
<footer class="footer p-t-2 p-b-1 p-x-3">
    <p>© 2016 Portfolio of Leon Zagorouiko, Web Developer All Rights reserved
        <img src="../images/linkedin.png" class="footerPic">
        <img src="../images/github.png" class="footerPic">
    </p>
</footer>

